﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enterprise Programming Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				@Html.ActionLink("Enterprise Ltd.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				<a href="@Url.Action("Index","Home")"><img src="~/Assets/Logo.png" alt="Logo" style="width: 50px; height: 50px;" /></a>

</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("C#", "Index", "CSharp")</li>
					<li>@Html.ActionLink("MVC.Net", "Index", "MVC")</li>
					<li>@Html.ActionLink("JavaScript", "Index", "Java")</li>
					<li>@Html.ActionLink("CSS", "Index", "CSS")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content" style="background-color:lightgreen">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Enterprise Programming Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
