﻿
@using Assignment.Models;
@model List<Assignment.Models.Blog>

@{
    ViewBag.Title = "Index";
}


@for (int i = 0; i < 5; i++)
{
    Blog item = Model[i];


    <h4>@Html.ActionLink(@item.Heading, "Details", "Blogs", new { id = @item.BlogID }, new { style = "color: black" })</h4>
    <p><a href="@Url.Action("Details","Blogs", new { id = @item.BlogID })"><img src="@item.ImagePath" style="max-width:50px" /></a></p>
    <p>@item.Btags</p>
    <p>@item.Content</p>

}


