﻿
@using Assignment.Models;
@model List<Assignment.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>MVC Blogs</h2>

@for (int i = 0; i < 5; i++)
{
    Blog item = Model[i];

<div class="col-md-6">
    @if (i == 0)
    {

        <h4>@Html.ActionLink(@item.Heading, "Details", "Blogs", new { id = @item.BlogID }, new { style = "color: black" })</h4>
        <p><a href="@Url.Action("Details","Blogs", new { id = @item.BlogID })"><img src="@item.ImagePath" style="max-width:200px" /></a></p>
        <p>@item.Btags</p>
        <p>@item.Content</p>
    }
</div>


    <div class="col-md-6">
        @if (i != 0)
        {
            <h4>@Html.ActionLink(@item.Heading, "Details", "Blogs", new { id = @item.BlogID }, new { style = "color: black" })</h4>

        }
    </div>

    <br />
    <br />
}
