﻿@using Assignment.Models;
@model IEnumerable<Blog>
@{
    ViewBag.Title = "Home Page";
}

@*------------SLDIER------------*@

@section styles {
    <link href="~/slippry-1.4.0/dist/slippry.css" rel="stylesheet" />
    <style type="text/css">

        /* News */
        .news-slider {}

            .news-slider .text-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background-color: rgba(255,255,255,0.9);
                padding: 1em;
                width: 30%;
                height: 100%;
            }

                .news-slider .text-content h4 {
                    margin: 0;
                    text-align: center
                }

                .news-slider .text-content p {
                    margin: 1em 0;
                }

                .news-slider .text-content a.button-link {
                    padding: 0.25em 0.5em;
                    position: absolute;
                    bottom: 1em;
                    right: 1em;
                }

            .news-slider .image-content {
                line-height: 0;
                
            }

                .news-slider .image-content img {
                    /*max-width: 100%;*/
                    width: 800px;
                    height: 500px;

                }

            .news-slider .news-pager {
                text-align: right;
                display: block;
                margin: 0.2em 0 0;
                padding: 0;
                list-style: none;
            }

                .news-slider .news-pager li {
                    display: inline-block;
                    padding: 0.6em;
                    margin: 0 0 0 1em;
                }

                    .news-slider .news-pager li.sy-active a {
                        color: #31ace2;
                    }

                    .news-slider .news-pager li a {
                        font-weight: 500;
                        text-decoration: none;
                        display: block;
                        color: #222;
                    }
    </style>
}
<section id="news-demo">
    @foreach (Blog b in Model)
    {
        <article>
            <div class="text-content">
                <h4>@Html.ActionLink(@b.Heading, "Details", "Blogs", new { id = @b.BlogID }, new { style = "color: black" })</h4>
                <a href="@Url.Action("Details","Blogs", new { id = @b.BlogID })" class="button-link read-more">read more</a>
            </div>
            <div class="image-content"><a href="@Url.Action("Details","Blogs", new { id = @b.BlogID })"><img src="@b.ImagePath" alt="BlogImage"></a></div>
        </article>
    }
</section>
@section scripts {
    <script src="~/slippry-1.4.0/dist/slippry.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#news-demo').slippry({
                // general elements & wrapper
                slippryWrapper: '<div class="sy-box news-slider" />', // wrapper to wrap everything, including pager
                elements: 'article', // elments cointaining slide content

                // options
                adaptiveHeight: false, // height of the sliders adapts to current
                captions: false,

                // pager
                pagerClass: 'news-pager',

                // transitions
                transition: 'horizontal', // fade, horizontal, kenburns, false
                speed: 1200,
                pause: 8000,

                // slideshow
                autoDirection: 'prev'
            });
        });
    </script>
}


@*------------CATEGORY BOXES------------*@


@* C Sharp BOX *@
<div class="row">
    <br />
    <br />
    <div class="col-md-6" style="background-color:lightgreen">
        <h2>@Html.ActionLink("CSharp", "Index", "CSharp", null, new { style = "color: black" })</h2>

        @*Getting BLOGS *@
        @{ Html.RenderAction("HomePage", "CSharp"); }

    </div>

    @* CSS BOX *@
    <div class="col-md-6" style="background-color:lightcoral">
        <h2>@Html.ActionLink("CSS", "Index", "CSS", null, new { style = "color: black" })</h2>

        @{ Html.RenderAction("HomePage", "CSS"); }

    </div>


    @* Java BOX *@
    <div class="col-md-6" style="background-color:lightyellow">
        <h2>@Html.ActionLink("Java", "Index", "Java", null, new { style = "color: black" })</h2>

        @*Getting BLOGS *@
        @{ Html.RenderAction("HomePage", "Java"); }

    </div>

    @* MVC BOX *@
    <div class="col-md-6" style="background-color:lightseagreen">
        <h2>@Html.ActionLink("MVC", "Index", "MVC", null, new { style = "color: black" })</h2>

        @*Getting BLOGS *@
        @{ Html.RenderAction("HomePage", "MVC"); }


    </div>


</div>
